<section class="footer grey-bg">
	<div class="container">
	  <div class="menu-footer-container">
		<ul class="nav navbar-nav">
		  <li class="<%= pagename==''?'active':'page-scroll' %>"><a href="/">Home</a></li>
			<li class="<%= pagename=='iot-features'?'active':'page-scroll' %>"><a href="/iot-features">Features</a></li>
			<!-- <li class="<%= pagename=='iot-prototyping'?'active':'page-scroll' %>"><a href="/iot-prototyping">IoT Prototyping</a></li>-->
		  <li class="<%= pagename=='iot-education'?'active':'page-scroll' %>"><a href="/iot-education">Education</a></li>
			<!-- <li class="<%= pagename=='iot-solutions'?'active':'page-scroll' %>"><a href="/iot-solutions">IoT Solutions</a></li>-->
			<!-- <li class="<%= pagename=='blog' || pagename=='page'?'active':'page-scroll' %>"><a href="/blog">Blog</a></li>-->
		  <!-- <li class="<%= pagename=='docs'?'active':'page-scroll' %>"><a href="/docs">Docs</a></li> -->
		  <!--<li><a href="/blog">Blog</a></li>-->
		  <li class="<%= pagename=='contact'?'active':'page-scroll' %>"><a href="/contact">Contact</a></li>
			<li class="<%= pagename=='terms'?'active':'page-scroll' %>"><a href="/terms">Terms &amp; Conditions</a></li>
			<li class="<%= pagename=='privacy'?'active':'page-scroll' %>"><a href="/privacy">Privacy Policy</a></li>
		</ul>
	  </div>
	  <div class="textwidget"><div class="row social">
		<div class="col-md-3 col-sm-0 col-xs-0"></div>
		<div class="col-md-6 col-sm-12 col-xs-12">
		  <div class="col-md-2 col-sm-2 col-xs-6"><a href="http://www.facebook.com/wyliodrin" onclick="event_footer('facebook')" target="_blank"><img src="/images/facebook.png" width="48" height="48"></a></div>
		  <div class="col-md-2 col-sm-2 col-xs-6"><a href="http://twitter.com/wyliodrin" onclick="event_footer('twitter')" target="_blank"><img src="/images/twitter.png" width="48" height="48"></a></div>
		  <div class="col-md-2 col-sm-2 col-xs-6"><a href="http://plus.google.com/+Wyliodrin" onclick="event_footer('google_plus')" target="_blank"><img src="/images/googleplus.png" width="48" height="48"></a></div>
		  <div class="col-md-2 col-sm-2 col-xs-6"><a href="http://www.linkedin.com/company/wyliodrin" onclick="event_footer('linkedin')" target="_blank"><img src="/images/linkedin.png" width="48" height="48"></a></div>
		  <div class="col-md-2 col-sm-2 col-xs-6"><a href="http://github.com/wyliodrin" target="_blank" onclick="event_footer('github')"><img src="/images/github.png" width="48" height="48"></a></div>
		  <div class="col-md-2 col-sm-2 col-xs-6"><a href="/contact/"><img src="/images/mail.png" width="48" height="48"></a></div>
		</div>
		<div class="col-md-3 col-sm-0 col-xs-0"></div>
	  </div>
	  <p>Copyright 2019 <a href="/">wyliodrin.com</a>. All Rights Reserved. </p></div>
	  <br><br>
	</div>
  </section>